{% if event is defined %}
    <div data-event-id="{{event.id}}" class="js-event-current"></div>
{% endif %}

{{ form_start(eventForm)}}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/new-form.css') }}" >
{% endblock %}
{% set refIndex = 0 %}
{% set refTypes = ['name'] %}

<div class="table table-striped container">
    <div class="row align-items-center">
        <div rowspan="3" class="col-md-3">
            <div class="form-control">
                {{ form_widget(eventForm.imageFile) }}
                {% if event is defined %}
                    <img class="show-article-img" src="{{  event.image|imagine_filter('squared_thumbnail_medium')  }}">
                {% endif %}
                <label for="event_form_imageFile" class="fa fa-pencil"></label>
            </div>
        </div>
        <div class="col-md-3">
            <i class='fa fa-sticky-note fa-2x'></i>
            {{
            form_row(eventForm.name)
            }}
            {% if event is defined and event.referenceList('name') %}
                <a href="#{{ refIndex }}">[Quelle]</a>
                {% set refIndex = refIndex +1 %}
            {% endif %}
        </div>
        <div class="col-md-3">
            <i class='fa fa-location-arrow fa-2x'></i>
            {{ form_row(eventForm.location) }}
        </div>
        <div class="col-md-3">
            <i class='fa fa-eye-slash fa-2x'></i>
            {{ form_row(eventForm.hide) }}
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-4">
            <i class='fa fa-clock-o fa-2x'></i>

            {{ form_row(eventForm.happenedAfter, {
                attr: {
                    'data-event-next-url':path('next_event_select'),
                    class: 'js-event-prev'
                }
            }) }}
        </div>
        <div class="col-md-4">
            <i class='fa fa-clock-o fa-2x'></i>
            {{ form_row(eventForm.uncertainTime) }}
        </div>
        <div class="col-md-4">
            <i class='fa fa-clock-o fa-2x'></i>
            {{ form_row(eventForm.happenedBefore, {
                attr: {
                    'data-event-prev-url': path('prev_event_select'),
                    class: 'js-event-next'
                }
            }) }}
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            {{ form_row(eventForm.relativeTime) }}
        </div>
        <div class="col-md-6"></div>
    </div>
</div>

<button type="submit" class="btn btn-primary">{{ button_text }}</button>
{{ form_end(eventForm)}}
{#{'render_rest': false}#}
