{% extends 'content_base.html.twig' %}

{% block content_body %}

        <!-- H1 Article -->
        <a class="main-article-link" href="#">
            <div class="main-article mb-5 pb-3">
                {#  <img src="{{ asset('images/histo-nav.jpg') }}" alt="events">#}
                <h1 class="text-center mt-2">Event List</h1>
            </div>
        </a>
        {{ knp_pagination_render(pagination) }}
        <table class="table table-striped advanced-table">
            <thead>
            <tr>
                <th></th>
                <th>{{knp_pagination_sortable(pagination, 'Name', 'e.name') }}</th>
                <th>{{knp_pagination_sortable(pagination, 'Date', 'e.orderedIndex') }}</th>
                <th>&nbsp</th>
            </tr>
            <tr>
                <th></th>
                <th>
                <form>
                    <div class="input-group mb-3">
                        <input type="text"
                               name="q"
                               class="form-control"
                               placeholder="Search..."
                               value="{{ app.request.query.get('q') }}"
                        >
                        <div class="input-group-append">
                            <button type="submit"
                                    class="btn btn-outline-secondary">
                                <span class="fa fa-filter"></span>
                            </button>
                        </div>
                    </div>
                </form>
                </th>
                <th></th>
                <th></th>
                <th>
                    <a href="{{ path('add_event') }}" class="btn btn-primary pull-right">
                        Create <span class="fa fa-plus-circle"></span>
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
        <!-- Supporting Persons -->
                {% for event in pagination %}
                    {% if event.showInList %}
                        {% if event.hasUpdate %}
                            <tr class="tobeapproved">
                        {% else %}
                            <tr>
                        {% endif %}
                            <td>
                                <a href="{{ path('event_show', {id: event.id}) }}">
                                    <img class="article-img" src="{{ event.image | imagine_filter('squared_thumbnail_small') }}">
                                </a>
                            </td>
                            <td>
                                <div class="d-inline-block pl-3 align-middle">
                                    {% if event.getUpdatedName %}
                                        <span><s>{{ event.name }}</s><br>{{ event.getUpdatedName }}</span>
                                    {% else %}
                                        <span>{{ event.name }}</span>
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <div class="d-inline-block pl-3 align-middle">
                                    <span>{{ event.yearCalculated }}</span>
                                </div>
                            </td>
                            <td></td>
                            <td>
                                <a href="{{path('event_edit', {
                                    id: event.id
                                })
                                }}">
                                    <span class="fa fa-pencil"></span>
                                </a>
                                {% if is_granted('ROLE_ACCEPT_CHANGES') and not event.approved %}
                                    <a href="{{path('person_accept', {
                                        id: event.id
                                    })
                                    }}">
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                {% if is_granted('ROLE_ACCEPT_CHANGES') %}
                                    {% for change in event.changes  %}
                                        {% if change.modificationType != "edit_init" %}
                                            <a href="{{path('admin_changes_edit', {
                                                id: change.event.id,
                                                type: 'event'
                                            })
                                            }}">
                                                <span class="fa fa-eye"></span>
                                            </a><br>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                {% if not event.userChanges(app.user)|length and not is_granted('ROLE_ACCEPT_CHANGES') %}
                                    {% if event.hasUpdate %}
                                        <span class="fa fa-question-circle" title="Record on moderation"></span>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                {% if is_granted('ROLE_ACCEPT_CHANGES') %}
                                    {% for change in event.changes  %}
                                        {% if change.modificationType != "edit_init" %}
                                            <a href="{{path('change_deny', {
                                                id: change.id
                                            })
                                            }}">
                                                <span class="fa fa-ban alert-danger"></span>
                                            </a><br>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% for change in event.userChanges(app.user)  %}
                                        {% if change.modificationType != "edit_init" %}
                                            <a href="{{path('change_deny', {
                                                id: change.id
                                            })
                                            }}">
                                                <span class="fa fa-ban alert-danger"></span>
                                            </a><br>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                {% if is_granted('ROLE_ACCEPT_CHANGES') %}
                                    {% for change in event.changes  %}
                                        {% if change.modificationType != "edit_init" %}
                                            <a href="{{path('change_accept', {
                                                id: change.id
                                            })
                                            }}">
                                                <span class="fa fa-check alert-success"></span>
                                            </a><br>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {{ knp_pagination_render(pagination) }}

{% endblock %}
