{% extends 'content_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/tabelizer.min.css') }}" >
{%  endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.tabelizer.js') }}"></script>
    <script src="{{ asset('js/jquery-ui-1.10.4.custom.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            var table = $('#level_table').tabelize({
                /*onRowClick : function(){
                    alert('test');
                }*/
                fullRowClickable : true,
                /*onReady : function(){
                    console.log('ready');
                },
                onBeforeRowClick :  function(){
                    console.log('onBeforeRowClick');
                },
                onAfterRowClick :  function(){
                    console.log('onAfterRowClick');
                },*/
            });
            /*
            $('tr.chapter').click(function(){
            $(this).nextUntil('tr.chapter').toggle();
            });

            $('tr.book').click(function(){

                $(this).nextUntil('.chapter_book').toggle();
            });
           /* $('[data-toggle="togglebook"]').change(function(){
                console.log($(this).parents());
                $(this).parents().next('.hidebook').toggle();
            });*/
        });
    </script>
{% endblock %}

{% block content_body %}
    <!-- H1 Article -->
    <a class="main-article-link" href="#">
        <div class="main-article mb-5 pb-3">
            <h1 class="text-center mt-2">Reference List</h1>
        </div>
    </a>
    {% set row_id = 0 %}
    <table id="level_table" class="controller table advanced-table">
        <thead>
        <tr id="header" data-level="header">
            <th></th>
            <th>Name</th>
            <th>Person</th>
            <th>Folk</th>
            <th>Location</th>
            <th>Event</th>
            <th></th>
        </tr>

        </thead>
        <tbody>
        {% for bookName, referencebook in groupedReferences  %}

            <tr class="hoverable" data-level="1" id="row_{{ row_id }}">
                <td colspan="5">
                    <i class='fa fa-book fa-2x'></i>{{ bookName }}
                </td>
            </tr>
            {% set row_id = row_id+1 %}
            {% for chapter, referencechapter in referencebook %}
                <tr data-level="2" id="row_{{ row_id }}">
                    <td colspan="5">
                        <i class='fa fa-bookmark fa-2x'></i> Chapter {{ chapter }}
                    </td>
                </tr>
                {% set row_id = row_id+1 %}
                {% for verse, reference in referencechapter %}
                    <tr data-level="3" id="row_{{ row_id }}">
                        <td>
                            <div class="d-inline-block pl-3 align-middle">
                            <span>{{ reference.book.name }} {{ reference.chapter}},{{ reference.verse }}</span>
                            </div>>
                        </td>
                        <td>
                            <span></span>
                        </td>
                        <td>
                            {% for p in reference.persons %}
                                {{ p.name }}
                            {%  endfor   %}
                        </td>
                        <td>
                        </td>
                    </tr>
                    {% set row_id = row_id+1 %}
                {% endfor %}
            {% endfor %}

        {% endfor %}
        </tbody>
    </table>
{% endblock %}