{% extends 'content_base.html.twig' %}

{% block title %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/algolia-autocomplete.css') }}" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <script src="{{ asset('js/algolia-autocomplete.js') }}"></script>
    <script src="{{ asset('js/dynamic_fields.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
{% endblock %}

{% block content_body %}
    <h1>
    <a href="{{ path('persons_list') }}">
        <i class="pr-3 fa fa-backward"></i>
    </a>Edit {{ person.name}}
    {% if not person.approved and is_granted('ROLE_ACCEPT_CHANGES') %}
        <a href="{{ path('person_accept', {id: person.id}) }}" class="btn btn-success"><span class="fa fa-check-circle"></span></a>
        <a href="{{ path('person_deny', {id: person.id}) }}" class="btn btn-danger"><span class="fa fa-ban"></span></a>
    {% endif %}
    </h1>
<hr>

<div class="row">
    <div class="col-sm-12">
        {{ include('person/_form.html.twig', {
            button_text: 'Update',
            edit: true
        }) }}
    </div>
    <hr>
    <div class="col-sm-12">
        {{ include('person/_references.twig', {

        }) }}
    </div>
</div>

        <div class="col-sm-12">
            <h3><i class="pr-3 fa fa-users"></i>
            {% if person.children|length == 0 %}
                no children
            {% elseif person.children|length == 1%}
                on child
            {% else %}
                {{ person.children|length }} children</h3>
            {% endif %}

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        {% if is_granted('ROLE_EDIT_ENTITY') %}<th>Verbindung</th>{% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for child in person.children %}
                        <tr>
                            <td>
                                <a href="{{ path('person_show', {id: child.id}) }}">
                                    <img class="comment-img rounded-circle" src="{{ child.image|imagine_filter('squared_thumbnail_small') }}">
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('person_show', {id: child.id}) }}">
                                    <div class="comment-container d-inline-block pl-3 align-top">
                                        <span class="comment"> {{ child.name }}</span>
                                    </div>
                                </a>
                            </td>
                            {% if is_granted('ROLE_EDIT_ENTITY') %}
                                <td>
                                    <a href="{{path('removeLink', {'parent': person.id, 'child' : child.id}) }}" class='btn btn-danger btn-xs' title='Löschen' data-confirm='<h3>Soll diese Person wirklich als Kind enfernt?</h3>'>
                                        <span class="glyphicon glyphicon-add"></span>&nbsp;Link lösen</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% else %}
                        Keine Kinder
                    {% endfor %}

                    <tr>
                        <td>
                            <h3><i class="pr-3 fa fa-plus-circle"></i></h3>
                        </td>
                        <td>
                            <h3>{{ addchildren|length }} Kandidaten</h3>
                        </td>
                        <td>
                            <form>
                            <div class="input-group mb-3">
                                <input type="text"
                                       name="q"
                                       class="form-control"
                                       placeholder="Add child.."
                                       value="{{ app.request.query.get('q') }}"
                                >
                                <div class="input-group-append">
                                    <button type="submit"
                                            class="btn btn-outline-secondary">
                                        <span class="fa fa-search"></span>
                                    </button>
                                </div>
                            </div>
                            </form>
                        </td>
                    </tr>

                    {% for child in addchildren %}
                        <tr>
                            <td>
                                <a href="{{ path('person_show', {id: child.id}) }}">
                                    <img class="comment-img rounded-circle" src="{{ child.image | imagine_filter('squared_thumbnail_small') }}">
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('person_show', {id: child.id}) }}">
                                    <div class="comment-container d-inline-block pl-3 align-top">
                                        <span class="comment"> {{ child.name }}</span>
                                        <!--p><a href="#">Reply</a></p-->
                                    </div>
                                </a>
                            </td>
                            <td>
                                <a href="{{path('addLink', {'parent': person.id, 'child' : child.id}) }}" class='btn btn-success btn-xs' title='Hinzufügen' data-confirm='<h3>Soll diese Person wirklich als Kind hinzugefügt?</h3>'>
                                    <span class="glyphicon glyphicon-add"></span>&nbsp;Kind hinzufügen</a>
                            </td>
                        </tr>
                    {% else %}

                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

{% endblock %}


