{{ form_start(form) }}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/new-form.css') }}" >
{% endblock %}
{% set refIndex = 0 %}
{% set refTypes = ['born', 'died', 'age', 'livedAt'] %}

<div class="table table-striped container">
    <div class="row align-items-end">
        <div class="col-md-4">
            <div class="form-control">
                {{ form_widget(form.imageFile, {
                    disabled: 'true'
                }) }}
                {% if person is defined %}
                    <img class="show-article-img" src="{{  person.image|imagine_filter('squared_thumbnail_medium')  }}">
                {% endif %}
                <label for="person_form_imageFile" class="fa fa-pencil add-file"></label>
            </div>
        </div>
        <div class="col-md-4">
            {{
            form_row(form.name, {
                disabled: 'true',
                label: 'Name'
            })
            }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.alternateNames, {
                disabled: 'true'
            }) }}
        </div>
    </div>
    <div class="row align-items-end">
        <div class="col-md-4">
            <i class='fa fa-mars fa-2x'></i><i class='fa fa-venus fa-2x'></i>
            {{ form_row(form.gender, {
                disabled: 'true'
            }) }}
        </div>
        <div class="col-md-4">
            <div class="fa fa-female fa-2x"> </div>
            {{ form_row(form.mother, {
                disabled: 'true'
            }) }}
        </div>
        <div class="col-md-4">
            <div class="fa fa-male fa-2x"> </div>
            {{ form_row(form.father, {
                disabled: 'true'
            }) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.folk, {
                disabled: 'true'
            }) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.progenitor, {
                disabled: 'true'
            }) }}
        </div>
    </div>
    <div class="row align-items-top">
        <div class="col-md-3">
            {#% if not person.born and person.bornEstimated %}
                {{ form_row(form.born, {attr: { placeholder: 'estimation: ' ~ person.bornEstimated} })}}
            {% else %}
                {{ form_row(form.born)}}
            {% endif %#}
            {{ form_row(form.uncertainBorn, {
                disabled: 'true'
            })}}

            {% if person is defined and person.referenceList('born') %}
                <a href="#{{ refIndex }}">[Quelle]</a>
                {% set refIndex = refIndex +1 %}
            {% endif %}
        </div>
        <div class="col-md-3">
            {#% if not person.died and person.diedEstimated %}
                {{ form_row(form.died, {attr: { placeholder: 'estimation: ' ~ person.diedEstimated} })}}
            {% else %}
                {{ form_row(form.died) }}
            {% endif %#}
            {{ form_row(form.uncertainDied, {
                disabled: 'true'
            }    ) }}
            {% if person is defined and person.referenceList('died') %}
                <a href="#{{ refIndex }}">[Quelle]</a>
                {% set refIndex = refIndex +1 %}
            {% endif %}
        </div>
        <div class="col-md-3">
            {#% if not person.age and person.age(true)%}
                {{ form_row(form.age, {attr: { placeholder: 'estimation: ' ~ person.age(true)} })}}
            {% else %}
                {{ form_row(form.age) }}
            {% endif %#}
            {{ form_row(form.age, {
                disabled: 'true'
            }) }}
            {% if person is defined and person.referenceList('age') %}
                <a href="#{{ refIndex }}">[Quelle]</a>
                {% set refIndex = refIndex +1 %}
            {% endif %}
        </div>
        <div class="col-md-3">
            {{ form_row(form.livedAtTimeOfPerson, {
                disabled: 'true'
            }) }}
            {% if person is defined and person.referenceList('livedAt') %}
                <a href="#{{ refIndex }}">[Quelle]</a>
                {% set refIndex = refIndex +1 %}
            {% endif %}
        </div>
    </div>
</div>

{{ form_end(form)}}
{#{'render_rest': false}#}
