{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin-changes.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        const toggler = document.getElementsByClassName("caret");
        let i;

        for (i = 0; i < toggler.length; i++) {
            toggler[i].addEventListener("click", function() {
                this.parentElement.querySelector(".nested").classList.toggle("active");
                this.classList.toggle("caret-down");
            });
        }
    </script>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1></h1>
                <div class="show-article-container p-3 mt-2">
                    <div class="main-article mb-5 pb-3">
                        <h1 class="text-center mt-2">Changes list</h1>
                    </div>
                    {% if pagination %}
                        {{ knp_pagination_render(pagination) }}
                    {% endif %}
                    <table class="table table-striped advanced-table" id="myUL">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of Children</th>
                            <th>Roles</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>
                                <form>
                                    <div class="input-group mb-3">
                                        <input type="text"
                                               name="q"
                                               class="form-control"
                                               placeholder="Search..."
                                               value="{{ app.request.query.get('q') }}"
                                        >
                                        <div class="input-group-append">
                                            <button type="submit"
                                                    class="btn btn-outline-secondary">
                                                <span class="fa fa-filter"></span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for entitiesBlock in pagination %}
                                {% for entity in entitiesBlock %}
                                        {% if entity.updateOf is null %}
                                            <tr>
                                                <td><span class="caret">{{ entity.name }}</span>
                                                    <ul class="nested">
                                                        {% for childEntity in entitiesBlock %}
                                                            {% if childEntity.updateOf is not null %}
                                                                <div>
                                                                    <span>{{ childEntity.name }}</span>
                                                                    <span class="child-actions">
                                                                        <a href="{{path('change_accept', {
                                                                            id: childEntity.updateOf.id
                                                                        })
                                                                        }}">
                                                                            <span class="fa fa-check alert-success"></span>
                                                                        </a>
                                                                        <a href="{{path('change_deny', {
                                                                            id: childEntity.updateOf.id
                                                                        })
                                                                        }}">
                                                                            <span class="fa fa-ban alert-danger"></span>
                                                                        </a>
                                                                        <a href="{{path('person_edit', {
                                                                            id: childEntity.id
                                                                        })
                                                                        }}"><span class="fa fa-pencil"></span>
                                                                        </a>
                                                                    </span>
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </td>
                                                <td>{{ entity.children|length }}</td>
                                                <td>
                                                    <a href="{{path('person_edit', {
                                                        id: entity.id
                                                    })
                                                    }}"><span class="fa fa-pencil"></span>
                                                    </a>
                                                </td>
                                                <td></td>
                                            </tr>
                                        {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if pagination %}
                        {{ knp_pagination_render(pagination) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
